In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [44]:
def z_score_standardization(column):
    if(column.dtype == float):
        return (column - column.mean()) / column.std()
    else:
        return (column)
data = pd.read_csv('C:\\Users\\Shaurya\\Downloads\\Project_3\\Project_3\\Country-data.csv')
data = data.drop('country', axis=1)
#data1=data1.drop(data1.iloc[0])
df = data.apply(z_score_standardization) #applying the 
df.reset_index(drop=True)
df

,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,1.287660,-1.134867,0.278251,-0.082208,1610,0.156864,-1.614237,1.897176,553
1,-0.537333,-0.478220,-0.096725,0.070624,9930,-0.311411,0.645924,-0.857394,4090
2,-0.272015,-0.098824,-0.963176,-0.639838,12900,0.786908,0.668413,-0.038289,4460
3,2.001787,0.773056,-1.443729,-0.164820,5900,1.382894,-1.175698,2.121770,3530
4,-0.693548,0.160186,-0.286034,0.496076,19100,-0.599944,0.702147,-0.540321,12200
...,...,...,...,...,...,...,...,...,...
162,-0.224902,0.200315,-0.569997,0.239979,2950,-0.488315,-0.849606,0.364658,2970
163,-0.524935,-0.459980,-0.693776,-1.209860,16500,3.606020,0.544723,-0.315728,13500
164,-0.371199,1.126916,0.008851,1.375892,4490,0.408503,0.286097,-0.659224,1310
165,0.447072,-0.405259,-0.595481,-0.515920,4480,1.496416,-0.343599,1.137523,1310
166,1.111607,-0.149897,-0.337002,-0.660491,3280,0.588245,-2.086510,1.619738,1460

In [45]:
def random_centroid(X,k):
    random_idx=[np.random.randint(len(X)) for i in range(k)]
    centroids=[]
    for i in random_idx:
        centroids.append(X.iloc[i])
    return centroids

In [46]:

def assign_cluster(X, initial_centroids, k):
    clusters = []
    # Check if the dimensions of X and initial_centroids are compatible
    if len(X.iloc[0]) != len(initial_centroids[0]):
        raise ValueError("Number of features in X and initial_centroids must be the same.")
    # for every point in X
    for i in range(len(X)):
        euclidean_distances = []
        for j in range(k):
            euclidean_distances.append(np.linalg.norm(np.array(X.iloc[i]) - initial_centroids[j]))
        idx = np.argmin(euclidean_distances)
        clusters.append(idx)
    return np.asarray(clusters)

In [47]:
def compute_centroid(X,clusters,k):
    centroid=[]
    for i in range(k):
        temp=[]
        for j in range(len(X)):
            if clusters[j]==i:
                temp.append(X.iloc[j])
        centroid.append(np.mean(temp,axis=0))
    return np.asarray(centroid)

In [48]:
def difference(prev,next):
    diff=0
    for i in range(len(prev)):
        diff+=np.linalg.norm(prev[i]-next[i])
    return diff

In [49]:
def kmeans(X,k):
    c_prev=random_centroid(X,k)
    cluster=assign_cluster(X,c_prev,k)
    ini_centroid=c_prev
    print(ini_centroid)
    diff=100
    while diff>0.001:
        cluster=assign_cluster(X,c_prev,k)
        c_new=compute_centroid(X,cluster,k)
        diff=difference(c_prev,c_new)
        c_prev=c_new
    return c_prev
cigga=kmeans(df,4)
cigga

[child_mort       0.903320
exports         -0.423500
health          -0.580918
imports         -0.040902
income        3060.000000
inflation        0.834208
life_expec      -0.939562
total_fer        0.873295
gdpp          1310.000000
Name: 59, dtype: float64, child_mort       -0.834886
exports          -0.222858
health            0.296454
imports          -0.577879
income        29600.000000
inflation        -0.568726
life_expec        1.219397
total_fer         0.054190
gdpp          30600.000000
Name: 74, dtype: float64, child_mort       -0.700987
exports          -0.434444
health           -0.631886
imports          -1.065289
income        23100.000000
inflation         0.607166
life_expec       -0.152442
total_fer        -0.910240
gdpp          10700.000000
Name: 125, dtype: float64, child_mort      -0.301770
exports          0.203963
health          -0.500826
imports          0.405202
income        7710.000000
inflation        2.972193
life_expec      -0.489779
total_fer       -0.203431
gdpp          2650.000000
Name: 103, dtype: float64]

array([[ 4.98059071e-01, -3.35567139e-01, -2.13109120e-01,
        -4.65960070e-02,  5.26628125e+03,  1.54456065e-01,
        -5.47290326e-01,  4.98904330e-01,  2.43368750e+03],
       [-7.94503779e-01,  2.01859991e+00, -4.01491344e-01,
         8.95563061e-01,  8.03428571e+04, -1.31790471e-01,
         1.09410071e+00, -7.80013298e-01,  6.54428571e+04],
       [-8.13086090e-01,  1.62922162e-01,  8.73936437e-01,
        -2.57069557e-01,  4.06541667e+04, -4.29228653e-01,
         1.06525300e+00, -6.64177893e-01,  3.99125000e+04],
       [-5.68451954e-01,  3.54352852e-01,  5.73610115e-02,
         1.09348615e-01,  2.04875000e+04, -9.00940320e-02,
         4.82877360e-01, -6.62361330e-01,  1.28845000e+04]])